.info-tab {
    width: 32.5%;
    height: 90%;
    padding-right: 3rem;
    border-right: 1px dashed rgba(0,0,0,.2);
    /* color: rgba(0,0,0,.8); */
}

.menu {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    font-family: text-fonts;
    padding: 0.5rem 0rem;
}

.menu div{
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.logo-btn {
    font-size: 0.8rem;
    padding-right: 1rem;
    border-right: 1px solid rgba(0,0,0,.2);
    justify-content: end;
    align-items: center;
}

.desc {
    margin-top: 1.5rem;
    font-family: textFont;
    color: black;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
}

.heading-info {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.desc1 {
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.desc2 {
    margin-top: 1rem;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.info-tab-btm {
    padding-top: 2rem;}



.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.btns div {
    font-size: 0.8rem;
    font-family: text-fonts;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 20px;
    padding: 0.5rem;
    letter-spacing: 0.2em;
    /* background-color: rgba(0,0,0,.2); */
    color: rgba(0,0,0,.8);
    cursor: pointer;
}

.footer-menu {
    display: flex;
    margin-top: 3.6rem;
    gap: 2rem;
    color: rgba(0,0,0,.8);
}

.footer-menu div {
    display: flex;
    gap: 0.5rem;
    border: 1px solid rgba(0,0,0,.2);
    padding: 0.25rem 1rem;
}

.footer {
    padding: 0.9rem;
}

.set-rem-btn {
   background-color: rgba(0,0,0,.2);
}





