.main {
    display: flex;
    height: 90%;
    width: 95%;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: fixed;
    will-change: transform;
    transform-style: preserve-3d;
    height: 33vh;
    opacity: .6;
    mix-blend-mode: normal;
    bottom: 43.5px;
    left: 150px;
    display: inline-block;
    border: 0;
    z-index: -1;
}